html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sol {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(21, 255, 0);
  top: 185px;
  left: 80px;
  width: 770px;
  height: 420px;
}
.cuisine {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 185px;
  left: 850px;
  width: 485px;
  height: 420px;
}
.rangement {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 185px;
  left: 1335px;
  width: 350px;
  height: 420px;
}
.menuiserie1 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(0, 255, 76);
  top: 185px;
  left: 1685px;
  width: 630px;
  height: 420px;
}
.decoration {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(255, 0, 242);
  top: 642px;
  left: 80px;
  width: 410px;
  height: 540px;
}
.peinture1 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(174, 0, 255);
  top: 650px;
  left: 520px;
  width: 385px;
  height: 430px;
}
.sdb {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: blue;
  top: 645px;
  left: 905px;
  width: 650px;
  height: 370px;
}
.chauffage {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(0, 183, 255);
  top: 715px;
  left: 1555px;
  width: 300px;
  height: 460px;
}
.menuiserie2 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(0, 255, 76);
  top: 615px;
  left: 1880px;
  width: 435px;
  height: 240px;
}
.electricite {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: grey;
  top: 855px;
  left: 1880px;
  width: 435px;
  height: 260px;
}
.plomberie {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: grey;
  top: 1115px;
  left: 1880px;
  width: 435px;
  height: 135px;
}
.peinture2 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(174, 0, 255);
  top: 1080px;
  left: 520px;
  width: 385px;
  height: 300px;
}
.quincaillerie1 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(255, 238, 0);
  top: 1015px;
  left: 905px;
  width: 275px;
  height: 360px;
}
.outillage {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: orange;
  top: 1015px;
  left: 1180px;
  width: 375px;
  height: 360px;
}
.eclairage {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: blue;
  top: 1182px;
  left: 80px;
  width: 410px;
  height: 370px;
}
.quincaillerie2 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 1400px;
  left: 1250px;
  width: 270px;
  height: 290px;
}
.jardin1 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: red;
  top: 1400px;
  left: 1515px;
  width: 810px;
  height: 290px;
}
.jardin2 {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 1240px;
  left: 1870px;
  width: 450px;
  height: 140px;
}

.pointeur {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 536px;
  left: 1852px;
  width: 40px;
  height: 40px;
}

.image {
  position: relative;
  border: solid;
  color: red;
}
/* top: 100,
    left: 50,
    width: 296,
    height: 150, */

/* top: 100,
    left: 344,
    width: 200,
    height: 150, */
