html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Sol {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(21, 255, 0);
  top: 185px;
  left: 80px;
  width: 770px;
  height: 420px;
}
.Cuisine {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 185px;
  left: 850px;
  width: 485px;
  height: 420px;
}
.Rangement {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 185px;
  left: 1335px;
  width: 350px;
  height: 420px;
}
.Menuiserie {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(0, 255, 76);
  top: 185px;
  left: 1685px;
  width: 630px;
  height: 420px;
}
.Decoration {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(255, 0, 242);
  top: 642px;
  left: 80px;
  width: 410px;
  height: 540px;
}
.Peinture {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(174, 0, 255);
  top: 650px;
  left: 520px;
  width: 385px;
  height: 430px;
}
.SalleDeBains {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: blue;
  top: 645px;
  left: 905px;
  width: 650px;
  height: 370px;
}
.Chauffage {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(0, 183, 255);
  top: 715px;
  left: 1555px;
  width: 300px;
  height: 460px;
}
.MenuiserieDeux {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(0, 255, 76);
  top: 615px;
  left: 1880px;
  width: 435px;
  height: 240px;
}
.Electricite {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: grey;
  top: 855px;
  left: 1880px;
  width: 435px;
  height: 260px;
}
.Plomberie {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: grey;
  top: 1115px;
  left: 1880px;
  width: 435px;
  height: 135px;
}
.PeintureDeux {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(174, 0, 255);
  top: 1080px;
  left: 520px;
  width: 385px;
  height: 300px;
}
.Quincaillerie {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: rgb(255, 238, 0);
  top: 1015px;
  left: 905px;
  width: 275px;
  height: 360px;
}
.Outillage {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: orange;
  top: 1015px;
  left: 1180px;
  width: 375px;
  height: 360px;
}
.Eclairage {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: blue;
  top: 1182px;
  left: 80px;
  width: 410px;
  height: 370px;
}
.QuincaillerieDeux {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 1400px;
  left: 1250px;
  width: 270px;
  height: 290px;
}
.Jardin {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: red;
  top: 1400px;
  left: 1515px;
  width: 810px;
  height: 290px;
}
.JardinDeux {
  position: absolute;
  /* background-color: red; */
  border: solid;
  color: yellow;
  top: 1240px;
  left: 1870px;
  width: 450px;
  height: 140px;
}

.carelage {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 502px;
  left: 90px;
  width: 20px;
  height: 20px;
}

.pvc {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 527px;
  left: 90px;
  width: 20px;
  height: 20px;
}

.poubelle {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 326px;
  left: 1274px;
  width: 20px;
  height: 20px;
}

.pointeur {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 198px;
  left: 988px;
  width: 20px;
  height: 20px;
}

.boiteDeRangement {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 199px;
  left: 1505px;
  width: 20px;
  height: 20px;
}

.lotDe4Cintres {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 199px;
  left: 1480px;
  width: 20px;
  height: 20px;
}
.voletRoulant {
  position: absolute;
  /* background-color: red; */
  background-color: red;
  top: 410px;
  left: 2012px;
  width: 20px;
  height: 20px;
}

.image {
  position: relative;
  border: solid;
  color: red;
}
/* .plan {
  display: flex;
  width: 90%;
  margin: 0 auto;
} */

@keyframes Test {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@import url("https://fonts.googleapis.com/css?family=Numans");

.login {
  background-image: url("https://www.cospirit.com/magazine/wp-content/uploads/2015/09/store-product-locator-interet-enseignes-cospirit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200%;
  margin-top: 100px;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: 20px;
  margin-bottom: auto;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 1em;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}
